/* I. Reset all defaults */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* II. Default elements */

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;  
}

body {
    margin: 0;
}

nav {
  font-family: "Lato", sans-serif;
  height: 100%;
  float: right;
  margin-top: 60px;
  margin-right: 90px;
  clear: both;
}

nav ul {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  list-style: none;
}

nav ul li {
  display: list-item;
  text-align: right;
  font-size: 18px;
  color: #fff;
  margin: 0px;
  margin-bottom: 22px;
  padding: 0px;
  border: 0;
  outline: 0;
  line-height: 1.4;
}

footer {
  display: block;
  padding: 2em 0 0 0;
  border-top: 2px solid #dddddd;
  font-size: .7em;
  color: #b3b3b3;
}

/* III. Special elements */

#left-sidebar {
  width: 25%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #191919;
  font-size: 100.01%;
  line-height: 1;
}

/* IV. Pseudo-elements */

::selection {
  background: #fae3df;
}
